@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,600;1,400&display=swap');
/* Phones */
/* body{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  background: #CAFAFE;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  opacity: 1;
  transition-duration: 0.7s;
  transition-property: opacity;
} */
@media screen and (max-width: 1000px){
  body{
  display: grid;
  grid-template-columns: repeat(3, minmax(100px, auto));
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  background: #CAFAFE;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  opacity: 1;
  transition-duration: 0.7s;
  transition-property: opacity;
}
.img:hover{
  transition: .5s ease;
  width: 350%;
  opacity: 1;
  box-shadow: 5px 5px #FC4445;
  transform:translateX(1em) translateY(-1em);
  border-radius: 10% 10% 10% 10%;
}
.logo-area{
  width: 360px;
  margin-top: 0;
  margin-left: 0;
  top: 0;
}
.logo{
  width: 460px;
}
}
/* Desktop*/
body{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  background: #CAFAFE;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  opacity: 1;
  transition-duration: 0.7s;
  transition-property: opacity;
}
/* Fade */
.fade {
    opacity: 0;
  }
  /* Logo Start*/
  /* Logo surrouding */
.logo-area{
  width: 110%;
  grid-column: 1;
  grid-row: 1;
  margin-top: 0;
  margin-left: 0;
  top: 0;
}
/* Logo */
.logo{
  transition: .5s ease;
  width: 70%;
  transform: initial;
}
/* Logo animation */
.logo:hover{
  transition: .5s ease;
  transform:translateX(2em) perspective(500px);
}
/* Logo End*/
/* Navagation Start*/
.nav{
  grid-column: 6;
  grid-row: 1;
  background-color: #CAFAFE;
  position: sticky;
  top: 0;
  text-align: center;
  font-family: 'Fraunces', serif;
}
.shadow{
  background-color: #FC4445;
  margin-bottom: 0;
}
.home{
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-shadow: 2px 2px black;
  padding: 15% 10px;
  text-decoration:none;
  text-transform:uppercase;
  background: black;
  transition: .5s ease;
  transform:scaleX(1);
}
.aboutme{
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-shadow: 2px 2px black;
  padding: 20% 10px;
  text-decoration:none;
  text-transform:uppercase;
  background: black;
  transition: .5s ease;
  transform:scaleX(1);
}
.resume{
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-shadow: 2px 2px black;
  padding: 20% 10px;
  text-decoration:none;
  text-transform:uppercase;
  background: black;
  transition: .5s ease;
  transform:scaleX(1);
}
.funfacts{
  color: white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-shadow: 2px 2px black;
  padding: 15% 10px;
  text-decoration:none;
  text-transform:uppercase;
  background: black;
  transition: .5s ease;
  transform:scaleX(1);
}
.home:hover{
  background: #97CAEF;
  color: black;
  text-shadow: 1px 1px #97CAEF;
  transition: .5s ease;
  padding-top: 35%;
  padding-bottom: 35%;
  padding-left: 15%;
  padding-right: 5%;
  margin-right: 15%;
  transform:scaleX(1.2);
}
.aboutme:hover{
  background: #55BCC9;
  color: black;
  text-shadow: 1px 1px #97CAEF;
  transition: .5s ease;
  padding-top: 35%;
  padding-bottom: 35%;
  padding-left: 15%;
  padding-right: 5%;
  margin-right: 15%;
  transform:scaleX(1.2);
}
.resume:hover{
  background: #55BCC9;
  color: black;
  text-shadow: 1px 1px #97CAEF;
  transition: .5s ease;
  padding-top: 35%;
  padding-bottom: 35%;
  padding-left: 15%;
  padding-right: 5%;
  margin-right: 15%;
  transform:scaleX(1.2);
}
.funfacts:hover{
  background: #55BCC9;
  color: black;
  text-shadow: 1px 1px #97CAEF;
  transition: .5s ease;
  padding-top: 35%;
  padding-bottom: 35%;
  padding-left: 15%;
  padding-right: 5%;
  margin-right: 15%;
  transform:scaleX(1.2);
}
/* Navagation End*/

/* Main Content Start */
.main{
  grid-column: 2;
  grid-row: 1/3;
  margin: 10%;
}
.gallery{
  display: grid;
  grid-template-columns: minmax(3, 1fr);
  grid-template-rows: minmax(2, 1fr);
  flex-wrap: wrap;
  background-color: #97CAEF;
  box-shadow: 10px 10px #55BCC9;
  padding-left: 5%;
  padding-right: 25%;
  width: 70%;
}
.img{
  transition: .5s ease;
  width: 130%;
  opacity: 0.6;
  margin-bottom: 20%;
}
.img:hover{
  transition: .5s ease;
  width: 320%;
  opacity: 1;
  box-shadow: 5px 5px #FC4445;
  transform:translateX(1em) translateY(-1em);
  border-radius: 10% 10% 10% 10%;
}
main{
  grid-column: 2;
  grid-row: 1;
}
.paragraph{
  display: flex;
  flex-direction: column;
}
.pone{
  transition: .5s ease;
  opacity: 0.7;
  padding: 5%;
  margin: 5%;
  width: 140%;
  box-shadow: 5px 5px #55BCC9;
  background-color: #97CAEF;
}
.pone:hover{
  transition: .5s ease;
  opacity: 1;
  box-shadow: 10px 10px #FC4445;
  background: #55BCC9;
  transform:translateX(1em) translateY(-1em);
  width: 150%;
  border-radius: 10px 10px 10px 10px;
}
/* Main Content */
footer{
  background-color: #FC4445;
  grid-row: 3/4;
  grid-column: 1/fill;
}

h1{
  text-align: center;
  font-family: 'Source Sans Pro';
}
h2{
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 15%;
  margin-bottom: 15%;
}
@media screen and (max-width: 1000px){
  body{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  background: #CAFAFE;
  margin-top: 0;
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 0;
  opacity: 1;
  transition-duration: 0.7s;
  transition-property: opacity;
}
.img:hover{
  transition: .5s ease;
  width: 250%;
  opacity: 1;
  box-shadow: 5px 5px #FC4445;
  transform:translateX(1em) translateY(-1em);
  border-radius: 10% 10% 10% 10%;
}
}
